<div class="container">
    <div class="title text-center">
        <h3 >Nyaranga's Contact Application</h3>
    </div>
    <div class="add-title ">
        <button class="btn btn-success" routerLink="contact-form">Add Contact</button>
    </div>
    
    


    
    <div class="display-contacts text-center" *ngFor="let contact of contacts">
        <div class="card">
            <div class="card-header">
                <p>{{contact.firstName}} {{contact.lastName}} </p>
            </div>
            <div class="card-body">
              <h5>Email: </h5><p>{{contact.email}}</p>
              <h5>Phone</h5><p>{{contact.phoneNumber}}</p>
              <div class="row text-center">
                <div class="col">
                    <a href="#" class="btn btn-success">Edit Contact</a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-danger" (click)="deleteContact(contact.id)">Delete Contact</a>
                </div>
              </div>
              
            </div>
          </div>
    </div>
</div>



